{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %} Cars Hub | Sign Out {% endblock %}

{% block content %}
<main class="main-bg">
  <div id="logout-container">
    <div class="card">
      <div class="card-body">
        <div>
          <h3 class="fw-bolder disblay-5">{% trans "Sign Out" %}</h3>
          <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
        <div>
          <form method="post" class="logout" id="logout-form" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn action-button-secondary" type="submit">{% trans 'Sign Out' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}