{% extends "profile/profile-base.html" %}
{% load static %}


{% block profile_content %}
<h2>My Cars</h2>
<div class="text-end py-3">
  <a href="{% url 'car_add' %}" class="btn action-button-secondary">Add New Car</a>
</div>
<!-- Search & Filter Form -->
<form method="GET" class="row g-3 align-items-end mb-4">
  <div class="col-md-5">
    <input type="text" name="search" value="{{ search }}" class="form-control"
      placeholder="Search by title or brand or model"
      pattern="\S+" title="No spaces allowed">
  </div>
  <div class="col-md-4">
    <select name="category" class="form-select">
        <option value="">All categories</option>
        {% for category in categories %}
        {% with cat_id=category.id|stringformat:"s" %}
        {% if cat_id == selected_category %}
          <option value="{{ category.id }}" selected>
            {{ category.name }}
          </option>
        {% else %}
          <option value="{{ category.id }}">
            {{ category.name }}
          </option>
        {% endif %}
        {% endwith %}
        {% endfor %}
    </select>
  </div>
  <div class="col-md-3">
    <button type="submit" class="btn action-button-accent w-100">Filter</button>
  </div>
</form>

<!-- Cars Table -->
<div class="table-responsive user-cars">
  {% csrf_token %}
  <table class="table table-striped table-bordered align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Image</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for car in cars %}
      <tr id="row-car-{{car.pk}}" class="{% if not car.approved %}disabled-row{% endif %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ car.title }}</td>
        <td>
          <img src="{{ car.image_url }}" alt="{{ car.title }} image" class="img-thumbnail" width="80" height="60"
            loading="lazy" decoding="async" referrerpolicy="strict-origin">
        </td>
        <td>{{ car.category.name }}</td>
        <td>
          {% if car.approved %}
          <a href="{% url 'car_edit' car.pk %}" class="btn btn-sm btn-outline-success"
            aria-label="click to edit this car">
            <i class="fa-solid fa-pen"></i>
          </a>
          <a class="delete-car-btn btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirm-modal"
            data-car-id="{{ car.pk }}" href="#" aria-label="click to delete this car">
            <i class="fa-solid fa-trash"></i>
          </a>
          <a href="{% url 'car_detail' car.pk %}" target="_blank" class="btn btn-sm action-button-accent"
            aria-label="click to view this car">
            <i class="fa-solid fa-eye"></i>
          </a>
          {% else %}
          <span class="text-primary">Need Admin Approval</span>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="text-muted">No cars found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Pagination -->
{% if is_paginated %}
<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link action-button-accent"
        href="?page={{ page_obj.previous_page_number }}&search={{ search }}&category={{ selected_category }}">
        Previous
      </a>
    </li>
    {% endif %}
    <li class="page-item p-2"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link action-button-accent"
        href="?page={{ page_obj.next_page_number }}&search={{ search }}&category={{ selected_category }}">
        Next
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}