{% extends "profile/profile-base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block profile_content %}
<div id="profile-image">
  <img src="{{ user.user_profile.image_url }}" width="150" height="150" 
        loading="lazy"
        decoding="async"
        referrerpolicy="strict-origin"
        alt="profile image">
</div>
<h2>Edit Profile</h2>
<!-- display user form and profile form -->
<form method="POST" enctype="multipart/form-data" id="profile-form">
  {% csrf_token %}
  {{ user_form | crispy }}

  <hr class="my-4">
  {{ profile_form | crispy }}

  <button type="submit" class="action-button-secondary">Update Profile</button>
</form>
{% endblock %}