{% extends "base.html" %}
{% load static %}
{% block head_title %}Cars Hub | Car Detail{% endblock %}
{% block style %}
{% endblock %}

{% block content %}

<!-- index.html content starts here -->
<div class="container car-detail">
    <div class="d-flex flex-wrap">
        <!-- display car images -->
        <div class="col-12 col-lg-5 pt-0 pb-5 p-lg-5">
            {% if images %}
            <div id="carCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for img in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ img.https_url }}" class="d-block w-100" loading="lazy" decoding="async"
                            referrerpolicy="strict-origin" alt="{{ car.title }} image">
                    </div>
                    {% endfor %}
                </div>
                <div class="carousel-indicators">
                    {% for img in images %}
                    <button type="button" data-bs-target="#carCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %} thumbnail" aria-current="true"
                        aria-label="Slide {{ forloop.counter }}">
                        <img src="{{ img.https_url }}" class="d-block w-100" alt="{{ car.title }} image" loading="lazy"
                            decoding="async" referrerpolicy="strict-origin">
                    </button>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" aria-label="Slide previous"
                    data-bs-target="#carCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" aria-label="Slide next"
                    data-bs-target="#carCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
            {% else %}
            <p>No images available for this car.</p>
            {% endif %}
        </div>
        <!-- display car content -->
        <div class="col-12 col-lg-7 pt-2 pb-0 p-lg-5">
            <h2>{{ car.title }}</h2>
            <p class="text-end mb-3">
                {% csrf_token %}
                {% if user.is_authenticated and user in car.likes.all %}
                <button class="btn btn-sm button-primary-outline active like-btn" aria-label="Like this car"
                    data-car-id="{{ car.id }}">
                    <i class="fa-solid fa-heart"></i>
                    <span id="like-label-{{ car.id }}">Liked</span>
                    (<span id="like-count-{{ car.id }}">{{ car.total_likes }}</span>)
                </button>
                {% elif user.is_authenticated %}
                <button class="btn btn-sm button-primary-outline like-btn" data-car-id="{{ car.id }}">
                    <i class="fa-solid fa-heart"></i>
                    <span id="like-label-{{ car.id }}">Like</span>
                    (<span id="like-count-{{ car.id }}">{{ car.total_likes }}</span>)
                </button>
                {% else %}
                <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="You need to login to like this car">
                    <button class="btn btn-sm button-primary-outline disabled"
                        aria-label="disabled like button, you should login first">
                        <i class="fa-solid fa-heart"></i>
                        Like (<span id="like-count-{{ car.id }}">{{ car.total_likes }}</span>)
                    </button>
                </span>

                {% endif %}
            </p>
            <div>{{ car.description|safe }}</div>
            <p>Posted by: {{ car.owner.username }}</p>
            <small>
                {{ car.created_on|timesince }} ago
            </small>
        </div>
    </div>
    <!-- display comment box -->
    <div class="py-3 p-lg-5">
        <div class="col-12 col-lg-5">
            <h3>Comments:
                <small class="fs-6" id="comments-count">
                    ({{car.comments.count}} comments)
                </small>
            </h3>
            <hr>
        </div>
        {% if user.is_authenticated %}
        <div class="d-flex flex-wrap" id="comments-container">
            <div class="col-12 col-lg-5 scroll-box">
                <div id="comments-list">
                    {% if car.comments.count == 0 %}
                    <span id="no-comments">No Comments</span>
                    {% endif %}
                    {% for comment in car.comments.all %}
                    <div class="comment" id="comment-{{ comment.id }}">
                        <div class="d-inline">
                            <img src="{{ comment.user.user_profile.image_url }}" class="rounded-circle" width="40"
                                alt="{{ comment.user.username }} profile image" loading="lazy" decoding="async"
                                referrerpolicy="strict-origin">
                            <strong>{{ comment.user.username }}</strong>
                            {% if comment.user == user %}
                            <div class="btn-group dropend comment-actions">
                                <button type="button" class="btn text-primary dropdown-toggle"
                                    aria-label="click to edit our delete this comment" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa-solid fa-gear"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item edit-btn" aria-label="Edit this comment"
                                            id="edit-btn-{{ comment.pk }}" data-id="{{ comment.pk }}">
                                            Edit
                                        </button>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <button class="dropdown-item delete-btn" aria-label="Delete this comment"
                                            data-bs-toggle="modal" data-bs-target="#confirm-modal"
                                            data-id="{{ comment.pk }}">
                                            Delete
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>

                        <div class="comment-content" id="comment-content-{{ comment.pk }}">
                            <p class="comment-text">
                                {{ comment.content }}
                                <br>
                                <small class="comment-time">
                                    {{ comment.updated|timesince }} ago
                                </small>
                            </p>
                            <form class="comment-form d-none">
                                <div class="d-flex flex-column flex-wrap">
                                    <label for="input-comment-{{ comment.pk }}" class="form-label">Your Comment</label>
                                    <textarea id="input-comment-{{ comment.pk }}" class="my-3 edit-input"
                                        required>{{ comment.content }}</textarea>
                                </div>
                                <button class="btn btn-sm action-button-secondary save-edit"
                                    aria-label="Update this comment" data-id="{{ comment.pk }}">Save</button>
                                <button class="btn btn-sm action-button-accent cancel-edit"
                                    aria-label="Cancel comment updating" data-id="{{ comment.pk }}">Cancel</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <form id="comment-form" class="col-12 col-lg-7 py-5 p-lg-5">
                <h4>Leave a comment</h4>
                {% csrf_token %}
                <label for="add-new-comment" class="form-label">Your Comment</label>
                <textarea id="add-new-comment" name="content" rows="10" class="w-100" required></textarea>
                <input type="hidden" name="car_id" value="{{ car.id }}">
                <br>
                <button type="submit" class="btn btn-small action-button-secondary"
                    aria-label="Add the comment">comment</button>
            </form>
        </div>
        {% else %}
        <div>
            <span class="col-12"> Sign in to allow commenting <a class="link" href="{{ login_url }}">login</a></span>.
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12 col-md-8 col-lg-3"></span>
                <span class="placeholder col-0 col-lg-2"></span>
            </p>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12 col-md-8 col-lg-3"></span>
                <span class="placeholder col-0 col-lg-2"></span>
            </p>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12 col-md-8 col-lg-3"></span>
                <span class="placeholder col-0 col-lg-2"></span>
            </p>
            <p class="my-2">
                <textarea class="placeholder col-12 col-md-8 col-lg-5"></textarea>
            </p>
            <p>
                <a class="btn btn-primary disabled placeholder col-12 col-md-3 col-lg-1" aria-disabled="true"></a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/car-detail.js' %}"></script>
{% endblock %}