{% extends "base.html" %}
{% load static %}
{% load cloudinary_extras %}
{% block head_title %}Cars Hub{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/carousel.v2.css' %}">
{% endblock %}

{% block header %}
<header class="container-fluid">
    <div class="row" id="homepage-header">
        <div class="col-12 hero">
            <div class="hero-container text-center">
                <div class="hero-content animation-element">
                    <h1 class="display-5 fw-bolder animate__animated animate__lightSpeedInLeft">Cars Hub</h1>
                    <p class="lead animate__animated animate__lightSpeedInLeft">Fuel Your Passion. Join a Global
                        Community of Car Enthusiasts.</p>
                    <a href="#cars-list" aria-label="go to car list"
                        class="btn btn-lg action-button animate__bounceIn">Discover</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Main Container -->
<main class="main-bg">
    <!-- index.html content starts here -->
    <div class="container text-center">
        <div class="row mx-auto my-auto justify-content-center">
            <div class="search-container px-3 py-4">
                <!-- Search & Filter Form -->
                <form method="GET" class="row g-3 align-items-end">
                    <div class="col-md-9">
                        <input type="text" name="search" value="{{ search }}" class="form-control"
                            placeholder="Search by title or brand or model">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn action-button-accent w-100">Search</button>
                    </div>
                </form>
            </div>
            {% if categories %}
            <div id="cartegories-list">
                <h3 class="text-start py-3">Filter By Category <small>(click to select)</small></h3>
                <div id="recipeCarousel" class="carousel slide pb-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item  {% if not selected_category %} active {% endif %}">
                            <div
                                class="col-12 col-md-6 col-lg-4 col-xl-3 {% if not selected_category %} selected {% endif %}">
                                <a class="page-link text-accent" href="?search={{ search }}" aria-label="click to reset category filter">
                                    <div class="card m-2" aria-hidden="true">
                                        <img class="card-img-top" src="{% static 'images/placeholder.webp' %}"
                                            alt="Category image cap">
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                All Categories
                                            </h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {% for category in categories %}
                        <div
                            class="carousel-item  {% if  selected_category|add:''|stringformat:'s' == category.pk|stringformat:'s' %}  active {% endif %}">
                            <div
                                class="col-12 col-md-6 col-lg-4 col-xl-3  {% if  selected_category|add:''|stringformat:'s' == category.pk|stringformat:'s' %} selected {% endif %}">
                                <a class="page-link text-accent" aria-label="click to filter cars list by {{category.name}}" 
                                    href="?search={{ search }}&category={{category.pk}}">
                                    <div class="card m-2" aria-hidden="true">
                                        <img class="card-img-top"
                                            src="{% if 'placeholder' in category.image.url %}{% static 'images/placeholder.webp' %} {%else%} {{category.image.url|cloudinary_optimize_category}} {% endif %}"
                                            alt="Category image cap">
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                {{category.name}}
                                            </h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev bg-transparent w-aut" aria-label="click to slide previous cars"
                        href="#recipeCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next bg-transparent w-aut" aria-label="click to slide next cars"
                        href="#recipeCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="car-list" id="cars-list">
                <h2 class="p-5">Cars</h2>
                {% if cars %}
                <div class="d-flex flex-wrap">
                    {% for car in cars %}
                    <div class="col-md-6 col-lg-4 p-3">
                        <a href="{% url 'car_detail' car.pk %}" aria-label="Click to go to {{car.title}} detail page">
                            <div class="card car-item text-start">
                                <img class="card-img"
                                    src="{% if not car.images or not car.images.first %}{% static 'images/placeholder.webp' %} {%else%} {{car.images.first.image.url|cloudinary_optimize_car}} {% endif %}"
                                    alt="Car image cap">
                                <div class="card-img-overlay">
                                    <h3 class="card-title fs-5">{{car.title}}</h3>
                                    <p class="card-text">
                                        <small>
                                            Posted by: {{ car.owner.username }}
                                        </small>
                                        <br>
                                        <small>
                                            {{ car.created_on|timesince }} ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                         </a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div>
                    <p>No cars found</p>
                </div>
                {% endif %}

                <!-- Pagination -->
                {% if is_paginated %}
                <nav>
                    <ul class="pagination justify-content-center pt-4">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link text-accent"
                               aria-label="go to previous cars list page"
                                href="?page={{ page_obj.previous_page_number }}&search={{ search }}&category={{ selected_category }}">
                                <i class="fa-solid fa-backward"></i>
                            </a>
                        </li>
                        {% endif %}
                        <li class="page-item p-2"> 
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </li>
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link text-accent"
                               aria-label="go to next cars list page"
                                href="?page={{ page_obj.next_page_number }}&search={{ search }}&category={{ selected_category }}">
                                <i class="fa-solid fa-forward"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<!-- index.html content ends here -->
{% endblock %}

{% block script %}
<script src="{% static 'js/carousel.v2.js' %}"></script>
{% endblock %}