/* Profile Container */
#profile-container,
#profile-container .row {
  padding: unset !important;
}

.main-bg {
  padding: unset;
  margin: 8rem 0 5rem;
}

/* Profile Base */
#profile-container .table {
  box-shadow: 2px 3px 4px rgb(0 0 0 / 58%);
}

#profile-container .dropdown button,
#profile-container .dropdown ul {
  width: 100%;
}

#profile-container .dropdown ul {
  padding: 1rem;
}

#profile-container .profile-content {
  border: 1px solid #e4ecf3;
  box-shadow: 2px 3px 4px rgb(0 0 0 / 58%);
  padding: 1.5rem;
}

/* Profile form */
#profile-container #profile-image {
  text-align: center;
}

#profile-image img {
  width: 9rem;
  border: 2px solid rgba(235, 235, 235, 0.877);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#profile-container input[type="file"] {
  width: 100%;
}

#profile-form input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

#profile-form input:hover,
#profile-form input:focus,
#profile-form input:active {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

#profile-form ul {
  background-color: var(--highlight-color);
  padding: 1.2rem 2rem;
}

#profile-form .errorlist {
  color: var(--primary-color);
}

/* Cars Add */
.summernote-div {
  width: 100% !important;
  height: unset;
}

#id_description_iframe {
  width: 100% !important;
}

#id_description_iframe > body > div.note-editor.note-frame.panel.panel-default {
  width: 100% !important;
}

#drop-area.pointer {
  cursor: pointer;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-bg {
    padding: 1rem;
  }
}
