{% extends "base.html" %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}

<!-- index.html content starts here -->
<div class="container car-detail">
    <div class="d-flex flex-wrap">
        <div class="col-12 col-lg-5 pt-0 pb-5 p-lg-5">
            {% if images %}
            <div id="carCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for img in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ img.image.url }}" class="d-block w-100" alt="Car image">
                    </div>
                    {% endfor %}
                </div>
                <div class="carousel-indicators">
                    {% for img in images %}
                    <button type="button" data-bs-target="#carCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %} thumbnail" aria-current="true"
                        aria-label="Slide {{ forloop.counter }}">
                        <img src="{{ img.image.url }}" class="d-block w-100" alt="Car image">
                    </button>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <buttons class="carousel-control-next" type="button" data-bs-target="#carCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </button>
            </div>
            {% else %}
            <p>No images available for this car.</p>
            {% endif %}
        </div>

        <div class="col-12 col-lg-7 pt-2 pb-0 p-lg-5">
            <h2>{{ car.title }}</h2>
            <p class="text-end mb-3">
                {% csrf_token %}
                {% if user.is_authenticated and user in car.likes.all %}
                <button class="btn btn-sm button-primary-outline active like-btn" data-car-id="{{ car.id }}">
                    <i class="fa-solid fa-heart"></i>
                    <span id="like-label-{{ car.id }}">Liked</span>
                    (<span id="like-count-{{ car.id }}">{{ car.total_likes }}</span>)
                </button>
                {% elif user.is_authenticated %}
                <button class="btn btn-sm button-primary-outline like-btn" data-car-id="{{ car.id }}">
                    <i class="fa-solid fa-heart"></i>
                    <span id="like-label-{{ car.id }}">Like</span>
                    (<span id="like-count-{{ car.id }}">{{ car.total_likes }}</span>)
                </button>
                {% else %}
                <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="You need to login to like this car">
                    <button class="btn btn-sm button-primary-outline disabled">
                        <i class="fa-solid fa-heart"></i>
                        Like (<span id="like-count-{{ car.id }}">{{ car.total_likes }}</span>)
                    </button>
                </span>

                {% endif %}
            </p>
            <p>{{ car.description|safe }}</p>
            <p>Posted by: {{ car.owner.username }}</p>
            <small>
                {{ car.created_on|timesince }} ago
            </small>
        </div>
    </div>

    <div class="py-3 p-lg-5">
        <div class="col-12 col-lg-5">
            <h3>Comments:
                <small class="fs-6" id="comments-count">
                    ({{car.comments.count}} comments)
                </small>
            </h3>
            <hr>
        </div>
        {% if user.is_authenticated %}
        <div id="profile-placeholder" src={% static 'images/nobody.jpg' %} style="display: none;"></div>
        <div class="d-flex flex-wrap" id="comments-container">
            <div class="col-12 col-lg-5 scroll-box">
                <div id="comments-list">
                    {% if car.comments.count == 0 %}
                    <span id="no-comments">No Comments</span>
                    {% endif %}
                    {% for comment in car.comments.all %}
                    <div class="comment" id="comment-{{ comment.id }}">
                        <div>
                            {% if comment.user.user_profile and "placeholder" in comment.user.user_profile.profile_image.url %}
                            <img src="{% static 'images/nobody.jpg' %}" class="rounded-circle" width="40"
                                alt="placeholder image">
                            {% else %}
                            <img src="{{ comment.user.user_profile.profile_image.url }}" class="rounded-circle"
                                width="40">
                            {% endif %}
                            <strong>{{ comment.user.username }}</strong>
                            {% if comment.user == user %}
                            <span class="btn-group dropend comment-actions">
                                <button type="button" class="btn text-primary dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa-solid fa-gear"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item edit-btn"
                                         id="edit-btn-{{ comment.pk }}" data-id="{{ comment.pk }}">
                                            Edit
                                        </button>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <button class="dropdown-item delete-btn"
                                        data-bs-toggle="modal" data-bs-target="#confirm-modal"
                                         data-id="{{ comment.pk }}">
                                            Delete
                                        </button>
                                    </li>
                                </ul>
                            </span>
                            {% endif %}
                        </div>

                        <div class="comment-content" id="comment-content-{{ comment.pk }}">
                            <p class="comment-text">
                                {{ comment.content }}
                                <br>
                                <small class="comment-time">
                                    {{ comment.updated|timesince }} ago
                                </small>
                            </p>
                            <textarea class="form-control my-3 edit-input d-none">{{ comment.content }}</textarea>
                            <button class="btn btn-sm action-button-secondary save-edit d-none"
                             data-id="{{ comment.pk }}">Save</button>
                            <button class="btn btn-sm action-button-accent cancel-edit d-none"
                             data-id="{{ comment.pk }}">Cancel</button>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            <form id="comment-form" class="col-12 col-lg-7 py-5 p-lg-5">
                <h4>Leave a comment</h4>
                {% csrf_token %}
                <textarea name="content" rows="10" class="w-100" required></textarea>
                <input type="hidden" name="car_id" value="{{ car.id }}">
                <br>
                <button type="submit" class="btn btn-small action-button-secondary">comment</button>
            </form>
        </div>
        {% else %}
        <div>
            <span class="col-12"> Sign in to allow commenting <a class="link" href="{{ login_url }}">login</a></span>.
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12 col-md-8 col-lg-3"></span>
                <span class="placeholder col-0 col-lg-2"></span>
            </p>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12 col-md-8 col-lg-3"></span>
                <span class="placeholder col-0 col-lg-2"></span>
            </p>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12 col-md-8 col-lg-3"></span>
                <span class="placeholder col-0 col-lg-2"></span>
            </p>
            <p class="my-2">
                <textarea class="placeholder col-12 col-md-8 col-lg-5"></textarea>
            </p>
            <p>
                <a class="btn btn-primary disabled placeholder col-12 col-md-3 col-lg-1" aria-disabled="true"></a>
            </p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/car-detail.js' %}"></script>
{% endblock %}