{% extends "base.html" %}
{% load static %}
{% block head_title %}Cars Hub{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/carousel.v2.css' %}">
{% endblock %}

{% block header %}
<header class="container-fluid">
    <div class="row" id="homepage-header">
        <div class="col-12 hero">
            <div class="hero-container text-center">
                <div class="hero-content animation-element">
                    <h1 class="display-5 fw-bolder animate__animated animate__lightSpeedInLeft">Cars Hub</h1>
                    <p class="lead animate__animated animate__lightSpeedInLeft">Fuel Your Passion. Join a Global
                        Community of Car Enthusiasts.</p>
                    <a href="#cars-list" aria-label="go to car list"
                        class="btn btn-lg action-button animate__bounceIn">Discover</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Main Container -->
<main class="main-bg">
<!-- index.html content starts here -->
<div class="container text-center">
    <div class="row mx-auto my-auto justify-content-center" id="cars-list">
        <h2 class="pb-3">Category one</h2>
        <div id="recipeCarousel" class="carousel slide pb-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card m-2" aria-hidden="true">
                            <img class="card-img-top" src="{% static 'images/placeholder.webp' %}" alt="Card image cap"
                                class="img-fluid">
                            <div class="card-body">
                                <h3 class="card-title placeholder-glow">
                                    <!-- <span class="placeholder col-6"></span> -->
                                    test1
                                </h3>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-9"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card m-2" aria-hidden="true">
                            <img class="card-img-top" src="{% static 'images/placeholder.webp' %}" alt="Card image cap"
                                class="img-fluid">
                            <div class="card-body">
                                <h3 class="card-title placeholder-glow">
                                    <!-- <span class="placeholder col-6"></span> -->
                                    test2
                                </h3>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-9"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card m-2" aria-hidden="true">
                            <img class="card-img-top" src="{% static 'images/placeholder.webp' %}" alt="Card image cap"
                                class="img-fluid">
                            <div class="card-body">
                                <h3 class="card-title placeholder-glow">
                                    <!-- <span class="placeholder col-6"></span> -->
                                    test3
                                </h3>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-9"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card m-2" aria-hidden="true">
                            <img class="card-img-top" src="{% static 'images/placeholder.webp' %}" alt="Card image cap"
                                class="img-fluid">
                            <div class="card-body">
                                <h3 class="card-title placeholder-glow">
                                    <!-- <span class="placeholder col-6"></span> -->
                                    test4
                                </h3>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-9"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card m-2" aria-hidden="true">
                            <img class="card-img-top" src="{% static 'images/placeholder.webp' %}" alt="Card image cap"
                                class="img-fluid">
                            <div class="card-body">
                                <h3 class="card-title placeholder-glow">
                                    <!-- <span class="placeholder col-6"></span> -->
                                    test5
                                </h3>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-9"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card m-2" aria-hidden="true">
                            <img class="card-img-top" src="{% static 'images/placeholder.webp' %}" alt="Card image cap"
                                class="img-fluid">
                            <div class="card-body">
                                <h3 class="card-title placeholder-glow">
                                    <!-- <span class="placeholder col-6"></span> -->
                                    test6
                                </h3>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-9"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" aria-label="click to slide previous cars"
                href="#recipeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" aria-label="click to slide next cars"
                href="#recipeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
</main>

<!-- index.html content ends here -->
{% endblock %}

{% block script %}
<script src="{% static 'js/carousel.v2.js' %}"></script>
{% endblock %}