{% extends "base.html" %}
{% load static %}
{% block head_title %} Cars Hub | Server Error {% endblock %}

{% block content %}
<main class="main-bg">
    <!-- index.html content starts here -->
    <div class="container text-center pt-5">
        <h2 class="display-4 text-danger"> 500 - Server Error </h2>
        <p>Oops! something is wrong.</p>
        <p class="text-primary display-1"><i class="fa-solid fa-screwdriver-wrench"></i></p>
        <a href="{% url 'home' %}" class="btn action-button-accent mt-3">Return to Home</a>
    </div>
</main>
{% endblock %}